@font-face {
  font-family: 'PressStart2P';
  src: local('PressStart2P'), url(./fonts/PressStart2P-Regular.ttf) format('truetype');
}

:root {
  --ion-background-color: black;
  --ion-text-color: gray;
  --ion-font-family: 'PressStart2P';
  text-align: center;

}

.time {
  --ion-font-size: 102em;
}
